@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

#root {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0px 10px;
}


/*parent class - all big contaniers*/

.parent {
    height: 100vh;
    text-align: center;
    margin: 0px 150px;
    height: 100vh;
    max-width: 100%;
    min-width: 80%;
}


/*logo container*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.header img {
    margin: auto;
    margin-top: 1em;
    height: 100px;
    justify-content: center;
}


/*responsive

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .videos {
      flex-flow: no-wrap;
      flex-direction: column;
    }

    .header img {
      margin: auto;
      margin-top: 1em;
    }
    /*
    .video-repro {
      order:1;
    }
    .video-thumbnails {
      order:2;
    }

}
*/

/*-----------responsive-----------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #root {
        display: flex;
        margin: 0px 0px;
    }
    .header img {
        margin: auto;
        margin-top: 1em;
    }
    .parent {

        margin: 0px 0px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 1400px) {
    .videos {
        flex-flow: no-wrap;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    .parent {

        margin: 0px 1000px;
    }
    #root {
        display: flex;
        margin: 0px 200px;
    }
}