@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}


#root {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0px 100px;
}

/*parent class - all big contaniers*/
.parent {
  height: 100vh;
  width:80%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;

  align-items: center;
  justify-content: center;
  
}
/*logo container*/
.header {

  height: 15vh;
  width: 20vh;

  align-items: center;
  justify-content: center;

}

.header img {
  margin: auto;
  margin-top: 1em;
  height:'100px';
  justify-content: center;
  
}


/*responsive

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .videos {
      flex-flow: no-wrap;
      flex-direction: column;
    }

    .header img {
      margin: auto;
      margin-top: 1em;
    }
    /*
    .video-repro {
      order:1;
    }
    .video-thumbnails {
      order:2;
    }

}
*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #root {
      display: flex;

      margin: 0px 0px;
    }
    .header img {
      margin: auto;
      margin-top: 1em;
    }
    
}

@media only screen and (min-width: 600px)
and  (max-width: 1400px) {

  .videos {
    flex-flow: no-wrap;
    flex-direction: column;
  }

}