/*details-button*/

.details-not-search {
    height: 10vh;
    width: 80%;
    justify-content: left;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.details {
    display: flex;
    align-content: flex-end;
    text-decoration: none;
}

/*back button*/
.back-button {
    margin: 1em;
    height: 100%;
  
    min-width: 50%;
    max-width: 100%;
    align-self: center;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.45;
    outline: none;
    font-size: 1em;
    background-color: rgb(233, 233, 233);
    text-decoration: none;
  
    -webkit-transition: 0.18s ease-out;
    -moz-transition: 0.18s ease-out;
    -o-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
    font-size: 25px;

    animation: 4s linear 0s 3 appearSlowly;
  
    flex: 3;
}

.back-button:hover {
    box-shadow: 0px 5px 10px rgba(248, 240, 255, 0.541);
    color: white;
    background: rgb(151, 151, 151);
    transform: translateY(-2px);
}

.back-button:focus {
    color: #4b515d;
    border: 2px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

