/*search and button container*/

.search-bar {
    height: 10vh;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background: #005f73;
    display: flex;
    flex-direction: row;
    flex: 1;
}


/*search input*/

.search {
    margin: 1em;
    margin-right: 2%;
    height: 5vh;
    border-radius: 40px;
    border: 0;
    padding: 0 1.6rem;
    align-self: center;
    box-shadow: inset 0px 5px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.45;
    outline: none;
    -webkit-transition: 0.18s ease-out;
    -moz-transition: 0.18s ease-out;
    -o-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
    flex: 2;
}

.search:hover {
    box-shadow: inset 1px 10px 12px rgba(0, 0, 0, 0.02);
}

.search:focus {
    color: #4b515d;
    border: 2px solid #835dff;
    box-shadow: inset 1px 10px 10px rgba(224, 223, 223, 0.205), 0px 10px 30px rgba(197, 164, 250, 0.486);
}


/*search button*/

.search-button {
    margin: 1em;
    height: 50px;
    width: 5em;
    min-width: 30%;
    max-width: 20%;
    align-self: center;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.45;
    outline: none;
    font-size: 1.2em;
    background-color: rgb(233, 233, 233);
    ;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    flex: 1;
}

.search-button:hover {
    box-shadow: 0px 5px 10px rgba(248, 240, 255, 0.541);
    color: white;
    background: rgb(151, 151, 151);
    transform: translateY(-2px);
}

.search-button:focus {
    color: #4b515d;
    border: 2px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}